


:root {
    --cor0: #FFE2D3;
    --cor1: #FFDECE;
    --cor2: #F0B99E;
    --cor3: #C58361;
    --cor4: #703112;
    --cor5: #452617;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial';
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--cor4);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 5px 0px 5px var(--cor5);
    z-index: 99;
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    max-width: 175px;
    max-height: 50px;
}

.logo h1 {
    color: var(--cor3);
    text-decoration: none;
}

.logo span {
    color:var(--cor1);
    text-decoration: none;
}

.logo img {
    width: 35px;
    
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.nav-icon-container img:first-child {
    margin: 1rem;
}

nav ul li {
    color: var(--cor0);
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

nav ul li a {
    color: var(--cor0);
    text-decoration: none;
}


.menu-button {
    display: none;
}

.search-box {
    width: 30px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: .5s;
}

.search-box.ativar {
    width: 220px;
    height: 80px;
}

.search-box .lupa-search, .search-box .close-button {
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-box .input-search {
    position: absolute;
    left: 55px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
}

.search-box .input-search input {
    width: 110px;
    border: 0;
    outline: 0;
    background-color: var(--cor4);
    color: var(--cor0);
    font-size: 15px;
}

.input-search input::placeholder {
    color: var(--cor1);
    font-size: 0.8rem;
}

.lupa-search img, .close-button img {
    width: 15px;
    cursor: pointer;
}

.lupa-search img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}


.copyright {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 2rem 0;
    text-align: center;
}


@media (max-width: 800px) {
    
    .menu-button {
        display: block;
    }

    nav {
        position: absolute;
        background-color: var(--cor4);
        width: 100%;
        top: 80%;
        display: none;
    }
    .header-inner-content {
        height: 60px;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .copyright {
        background-color: var(--cor4);
        color: var(--cor0);
        padding: 2rem 0;
        text-align: center;
    }
    

}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-content {
    width: 550px;
    height: 560px;
    margin: 20px auto;
}

#top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#top-box {
    width: 300px;
    height: 100px;
}

#top-box p {
    display: none;
    text-align: justify;
    font-size: 1rem;
    color: var(--cor4);
}

#top-click {
   width: 30px; 
   height: 30px;
   margin-right: 7px;
   cursor: pointer;
   transition: 0.4s;
}

#top-click:hover {
    transform: translateY(-5px);
}

#top-click img {
    width: 30px;
    height: 30px;
}

#right-box {
    width: 500px;
    height: 280px;
    display: flex;
    justify-content: end;
    margin-left: 42px;
}

#right-box img {
    width: 300px;
    height: 280px;
    opacity: 85%;
    
}

#right-click {
    width: 40px;
    height: 40px;
    margin: auto 0;
    padding-top: 10px;
    cursor: pointer;
    transition: 0.4s;
}

#right-click img {
    width: 30px;
    height: 30px;
}

#right-click:hover {
    transform: translateX(5px);
}

#content-right-box {
    width: 100px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#content-right-box img{
    width: 100px;
    height: 70px;
}

.img-right-box {
    visibility: hidden;
}

#bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bottom-click img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
    transition: 0.4s;
}

#bottom-click img:hover {
    transform: translateY(5px);
}

#bottom-box {
    width: 300px;
    height: 100px;
}

#bottom-box p {
    display: none;
    color: var(--cor4);
}


@media (max-width: 800px) {

    .container-content {
        width: 380px;
        height: 740px;
        margin: 0;
    }


    #top-box {
        width: 300px;
        height: 50px;
        margin-top: 70px;
    }

    #top-box p {
        font-size: 0.6rem;
    }

    #top-click, #top-click img {
        width: 20px;
        height: 20px;
    }

    #right-box {
        width: 354px;
        height: 200px;
        margin: 0;
    }

    #right-box img {
        width: 200px;
        height: 200px;
    }

    #right-click, #right-click img {
        width: 20px;
        height: 20px;
        padding: 2px 0 0;
    }

    #content-right-box {
        width: 60px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    #content-right-box img{
        width: 60px;
        height: 40px;
    }

    #bottom-box {
        width: 225px;
        height: 50px;
        margin: 0 auto 20px; 
    }

    #bottom-box p {
        font-size: 0.6rem;
        margin-top: 10px;
    }

    #bottom-click, #bottom-click img {
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }

    .copyright {
        font-size: 0.5rem;
    }

}