

:root {
    --cor0: #FFE2D3;
    --cor1: #FFDECE;
    --cor2: #F0B99E;
    --cor3: #C58361;
    --cor4: #703112;
    --cor5: #452617;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial';
}

a {
    text-decoration: none;
}

.navbar {
    background-color: var(--cor4);
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 5px 0px 5px var(--cor5);
    z-index: 99;
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    display: flex;
    justify-content: space-evenly;
    max-width: 175px;
    max-height: 50px;
}

.logo h1 {
    color: var(--cor3);
}

.logo span {
    color:var(--cor1);
}

.logo img {
    width: 35px;
    
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

.nav-icon-container img:first-child {
    margin: 1rem;
}

nav ul li {
    margin-right: 1.5rem;
    cursor: pointer;
}

nav ul li a {
    color: var(--cor0);
    text-decoration: none;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
    font-weight: bold;
}

.menu-button {
    display: none;
}

.search-box {
    width: 30px;
    height: 80px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition: .5s;
}

.search-box.ativar {
    width: 220px;
    height: 80px;
}

.search-box .lupa-search, .search-box .close-button {
    min-width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.search-box .input-search {
    position: absolute;
    left: 55px;
    width: calc(100% - 120px);
    height: 100%;
    line-height: 80px;
}

.search-box .input-search input {
    width: 110px;
    border: 0;
    outline: 0;
    background-color: var(--cor4);
    color: var(--cor0);
    font-size: 15px;
}

.input-search input::placeholder {
    color: var(--cor1);
    font-size: 0.8rem;
}

.lupa-search img, .close-button img {
    width: 15px;
    cursor: pointer;
}

.lupa-search img:hover {
    transform: translateY(-5px);
    transition: all 0.2s;
}

header {
    background-image: radial-gradient(var(--cor1), var(--cor0));
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.header-bottom-side-left {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    height: 100%;
    flex-basis: 50%;
    margin: auto;
}

.header-bottom-side-left h2 {
    font-size: 2.3rem;
    margin-bottom: 1.5rem;
    color: var(--cor5);
}

.header-bottom-side-left img {
    width: 100px;
}

.header-bottom-side-right {
    flex-basis: 50%;
    display: flex;
    align-items: center;
}

.header-bottom-side-right img {
    width: 65%;
}

.header-bottom-side-right-2 img {
    width: 10%;
}


.header-bottom-side-right-2 > p {
    display: none;
}

.header-bottom-side-right-2:hover > p {
    display: block;
    transform: translateY(-5px);
    transition: all 0.2s;
    color: var(--cor5);
    font-weight: 600;
    font-size: 0.7rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
}

@media (max-width: 800px) {
    
    .menu-button {
        display: block;
    }

    nav {
        position: absolute;
        background-color: var(--cor4);
        width: 100%;
        top: 80%;
        display: none;
    }

    .show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }

    .header-bottom-side-left {
        max-width: 184px;
    }
    
    .header-bottom-side-left h2 {
        font-size: 1.2rem;
        color: var(--cor5);
    }

    .header-bottom-side-left img {
        width: 80px;
    }
}

main {
    background-color: white;
}

.brown-background {
    background-color: var(--cor5);
}

.page-inner-content {
    max-width: 1280px;
    margin: 0 auto;
}

.cols {
    display: grid;
    justify-content: space-between;
    padding: 4rem 1rem;
}

.cols-3 {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.cols-3 img {
    width: 100%;
    background-color: var(--cor1);
    margin: auto;
}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
    color: var(--cor5);
}


.subtitle-underline {
    width: 100px;
    height: 5px;
    background: var(--cor3);
    border-radius: 9999px;
    margin: 8px auto 0 auto;
}

.product {
    color: var(--cor5);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 240px;
    max-height: 255px;
    cursor: pointer;
    transition: all 0.2s;
}

.product:hover {
    transform: translateY(-5px);
}

.product img {
    width: 85%;
    margin: auto;
}

.product-name {
    font-weight: 600;
    font-size: 0.8rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
}

.product-price, .rate {
    font-weight: 600;
    font-size: 0.8rem;
    margin-left: 1rem;
}

.testemonials {
    display: flex;
    padding: 4rem 1rem;
    justify-content: space-evenly;
}

.testemonial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 30%;
    text-align: center;
    box-shadow: 0 0 15px #afafaf;
    padding: 1rem;
    border-radius: 1rem;
    transform: all 0.2s;
}

.testemonial:hover {
    transform: translateY(-5px);
}

.testemonial p {
    margin: 5px;
    color: var(--cor5);
}

.testemonial p:first-child {
    font-weight: bold;
    font-size: 5rem;
    color: var(--cor4);
    margin-top: 3rem;
    line-height: 2rem;
}

.testemonial p:last-child {
    font-weight: bold;
}

.copyright {
    background-color: var(--cor4);
    color: var(--cor0);
    padding: 2rem 0;
    text-align: center;
}

/* Modal */

dialog::backdrop {
    background-color: rgba(0, 0, 0, .3);
}

dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, rgba(0, 0, 0, .3));
    margin: auto;
    background-color: var(--cor0);
    color: var(--cor5);
}

#modal-header {
    width: 100%;
    display: flex;
    padding-left: 94%;
    margin: 7px 0;
}

#modal-close {
    transition-duration: 0.4s;
    background-color: var(--cor2);
    color: var(--cor5);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}

#modal-end:hover {
    background-color: var(--cor5);
    color: var(--cor1);
  }

#modal-page {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

.modal-left {
    width: 50%;
}

#modal-product {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
}


#modal-product img {
    width: 80%;
    margin-bottom: 5px;
}

#modal-product p {
    margin: 0;
}

.modal-right {
    width: 50%;
    display: grid;
}

.modal-right h3 {
    color: var(--cor5);
}

.modal-right-qt {
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 50px;
    color: var(--cor5);
}

.modal-right-qt > button {
    transition-duration: 0.4s;
    background-color: var(--cor2);
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 50%;
    margin: auto;
    cursor: pointer;
}

.modal-right-qt > span {
    margin: auto 5px;
}

.modal-right-qt>button:hover {
    background-color: var(--cor5);
    color: var(--cor1);
  }

#modal-right-price {
    display: flex;
    justify-content: space-evenly;
    align-items: end;
    margin-bottom: 8px;
}

.modal-button-price {
    transition-duration: 0.4s;
    background-color: var(--cor2);
    color: var(--cor5);
    width: 140px;
    height: 50px;
    border: none;
    border-radius: .3rem;
    cursor: pointer;
  }
  
  .modal-button-price:hover {
    background-color: var(--cor5);
    color: var(--cor1);
  }


@media (max-width: 800px) {
    
    .testemonial {
        max-width: 115px;
    }

    .testemonial p {
        margin: 5px;
        color: var(--cor5);
        font-size: 0.8rem;
    }

    #modal-page {
        display: flex;
        justify-content: space-between;
        width: 330px;
        height: 260px;
        margin-top: 20px;
    }

    #modal-close {
        width: 20px;
        height: 20px;
        margin-right: 6px;
    }

    .modal-left {
        display: grid;
        align-items: center;
    }

    #modal-product {
        width: 100%;
        padding-left: 10px;
        margin-bottom: 80px;
    }

    #modal-product img {
        width: 100%;
        margin-bottom: 10px;
    }

    .modal-right h3 {
        font-size: 1rem;
    }

    .modal-right-qt {
        display: flex;
        justify-content: space-between;
        width: 60px;
        height: 30px;
        color: var(--cor5);
        margin: 0 10px 5px 0;
    }

    #modal-right-price {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        height: 70px;
    }

    .modal-button-price {
        width: 90px;
        font-size: 0.7rem;
    }

}